<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ bandName }} - {{ albumName }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='download.css') }}">
		<script>
            function download() {
                var dlCode = document.getElementById('dlCode').value;
                var baseURL = window.location.href;
                window.location = baseURL.concat("/", dlCode);
            }

            function keyPress(event) {
                if (event.keyCode == 13) { download();}
            }
		</script>
	</head>
	<body>
		<div id="login">
			<img src="{{ albumImage }}" width=400px>
			<div id="triangle"></div>
			<h1><b>{{ albumName }}</b> BY <b>{{ bandName }}</b></h1>
			<div style="background: #f0f0f0; padding: 6% 4%;">
				{{ infoText|safe }}
				<br />
				<div class="flex">
					<input type="text" class="flex-child" id="dlCode" pattern="[A-Z0-9]{8}" placeholder="Enter Download Code ..." onkeydown="keyPress(event)" />
					<input type="button" class="flex-child" id="theButton" value="download" onclick="download()"  />
				</div>
			</div>
		</div>
	</body>
</html>
