<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Stats</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='download.css') }}">
		<style>
            .container {
                margin: 10px 10px 10px 10px;  
                border: 5px solid #00bba3;
                overflow: auto
            }
            img {
                display: block;
                float: left;
                width: 40%
            }
            .text {
                margin: 5px
            }
		</style>
	</head>
	<body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul style="background: red;">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <div style="max-width: 900px; margin: auto;">
            <div class="container">
                <h1>
                    <a href="{{ url_for('logout') }}">logout</a>
                </h1>  
            </div>
            {%  for release in releases %}
                <form method="post">
                    <div class="container">
                        <img src="{{ releases[release]['albumImage'] }}">
                        <div class="text">
                            <h2>{{ releases[release]['bandName'] }} - {{ releases[release]['albumName'] }}</h2>
                            <p>
                                Codes insgesamt: {{ releases[release]['numberOfCodes'] }}
                            </p>
                            <p>
                                gesamte Downloads: {{ releases[release]['totalStats'] }}
                            </p>
                            <p>
                                verschiedene verwendete Codes: {{ releases[release]['uniqueStats'] }}
                            </p>
                            <p>
                                maximale Anzahl Downloads pro Codes: {{ releases[release]['limit'] }}
                            </p>
                            <p>
                                <a href="{{ url_for( 'handler', handleThis=release )}}" target="_blank">Link zur Downloadseite</a>
                            </P>
                            <hr>
                                <p>download codes:</p>
                                {% for codeFile in releases[release]['codeFiles'] %}
                                    <br><a href="{{ url_for('downloadCodeFile',albumID=release, codeFile=codeFile) }}">{{ codeFile }}</a>
                                {% endfor %}
                                <br>
                                <br>
                            <hr>
                            <label> NEW CODES:
                                <input type=number name="numberOfCodes" min="10" max="500" step="10" required>
                                <input type=hidden name="albumName" value="{{ release }}">
                                <input type=submit name="addAlfCodes" value="generate new codes">
                                <br>(codes cannot be removed)
                            </label>
                        </div>
                    </div>
                </form>
            {% endfor %}
            <hr>
                <form method="post" enctype=multipart/form-data>
                    <h2>add new album</h2>
                    <label>
                        album ID (needs to be unique .... systemwide, sorry)
                        <br> 
                        just check in your browser if /ID already exists
                        <br> 
                        <input name="albumID" type="text" required>
                    </label>
                    <br> 
                    <label>
                        bandname:
                        <br> 
                        <input name="bandName" type="text" required>
                    </label>
                        <br> 
                    <label>
                        releasename:
                        <br> 
                        <input name="albumName" type="text" required>
                    </label>
                        <br> 
                    <label>
                        maximum number of downloads per code:
                        <br> 
                        <input name="downloadLimit" type="number" min="1" step="1" required>
                    </label>
                        <br> 
                    <label>
                        zip file:
                        <br> 
                        <input name="albumZip" type="file" accept="application/zip" required>
                    </label>
                        <br> 
                    <label>
                        Image file (jpeg):
                        <br> 
                        <input name="albumImage" type="file" accept="image/jpeg" required>
                    </label>
                        <br> 
                    <label>
                        short info text (e.g. tracklist or url):
                        <br> 
                        <textarea name="albumInfo" type="text" style="width: 20rem; height: 15rem; margin: 0.5rem;" required></textarea>
                    </label>
                        <br> 
                    <input type="submit" name="addAlfAlbum" value="add new album">
                </form>
            <hr>

            <h2>change password</h2>
        </div>
	</body>
</html>
